### Data preprocessing for movie recommender system
Generates training_set_flat.csv and test_set_flat.csv

In [1]:
import numpy as np
import pandas as pd

In [56]:
trainig_set_csv = pd.read_csv('ml-1m/training_set.csv')
test_set_csv = pd.read_csv('ml-1m/test_set.csv')
trainig_set_csv = trainig_set_csv.drop(columns=['Timestamp'])
test_set_csv = test_set_csv.drop(columns=['Timestamp'])
trainig_set_csv.head()

   User  Movie  Rating
0     1    661       3
1     1    914       3
2     1   3408       4
3     1   2355       5
4     1   1287       5

In [57]:
training_set = trainig_set_csv.values
test_set = test_set_csv.values
trainig_set[0]

array([        1,       661,         3, 978302109], dtype=int64)

In [58]:
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_users, nb_movies

(6040, 3952)

In [84]:
def flatten_data(data_set, nb_columns):
    data_set_flat = []
    id_users = np.unique(data_set[:,0])
    for user in id_users:
        user_rating_row = np.zeros(nb_columns) -1
        id_movies = data_set[:,1][data_set[:,0] == user]
        id_ratings = data_set[:,2][data_set[:,0] == user]
        user_rating_row[id_movies - 1] = id_ratings
        data_set_flat.append(list(user_rating_row))
    return np.array(data_set_flat, dtype=np.int32)

In [85]:
training_set_flat = flatten_data(trainig_set, nb_movies)
test_set_flat = flatten_data(trainig_set, nb_movies)

In [86]:
np.savetxt('training_set_flat.csv', training_set_flat, delimiter=",")
np.savetxt('test_set_flat.csv', test_set_flat, delimiter=",")